<div id="<%= dom_id categories_i18n %>">
  <p>
    <strong>Category:</strong>
    <%= categories_i18n.category_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= categories_i18n.name %>
  </p>

  <p>
    <strong>Locale:</strong>
    <%= categories_i18n.locale %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= categories_i18n.description %>
  </p>

  <p>
    <strong>Description extra:</strong>
    <%= categories_i18n.description_extra %>
  </p>

</div>
